{% block html_head_container %}
{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

    <body class="page{% if function('is_checkout') %} is-checkout{% endif %}">
        <div class="page-header">
            <a class="logo" href="{{ site.home }}">
                Li<span class="nose">L</span>iOMOK
            </a>
            <div class="header-content">
                {{ function('get_search_form') }}
                <nav class="main-menu">
                    <ul>
                    {% for item in menu.items %}
                        <li>
                            <a href="{{ item.link }}">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>

        <div class="page-content">
        {% block content %}
            Content is coming... soon :)
        {% endblock %}
        </div>

        {% block footer %}
        <div class="page-footer">
            {% include 'footer.twig' %}
        </div>
        {{ function('wp_footer') }}
        {% endblock %}
    </body>
</html>