<div class="awaiting-payment">
    <h1>{{ __('Awaiting payment', 'liliom') }}</h1>
    <h2 class="total">{{ order_data.total }} {{ order_data.currency }}</h2>

    <div class="fusionpay alipay">
        <p class="payment">
            <a href="{{ meta.qr_code }}" target="_blank" class="payment-link">
                <img src="{{ meta.small_pic_url }}" alt="{{ __('Pay with Alipay', 'liliom') }}" class="payment-qrcode" />
                <span class="payment-caption">{{ __('Pay with Alipay', 'liliom') }}</span>
            </a>
        </p>
    </div>
</div>

<script>
var order_received_url = '{{ function("wc_get_endpoint_url", "order-received", order_id) }}';
var timer = null;
window.onload = function () {
    if ( typeof jQuery === 'undefined' ) return;
    checkStatus();
};
function checkStatus() {
    if ( timer ) clearTimeout(timer);
    jQuery.getJSON( liliom.theme_link + '/order-status.php?id={{ order_id }}', function( data ) {
        if ( data.success ) {
            if ( data.status === 'processing' ) {
                window.location.replace(order_received_url);
            }
            timer = setTimeout(checkStatus, 3000);
        }
    } );
}
</script>